# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
.env/
pyvenv.cfg

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log
*.pot

# Environment files
.env

# IDE and editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Ignore specific folders
lib/
bin/

# Miscellaneous
*.swp
*~
.project
.settings/
